<!-- neoway - sidebar -->
    <aside class="o-sidebar">
        <nav class="o-navigation">
            <a href="#" class="o-navigation__item"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></a>
            <a href="#" class="o-navigation__item"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a>
            <a href="#" class="o-navigation__item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            <a href="#" class="o-navigation__item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        </nav>
    </aside>
<!-- end neoway - sidebar -->